<div class="panel panel-info">
	<user-header ng-if="!admin"></user-header>
	<admin-header ng-if="admin"></admin-header>

	<div>Notifications :</div>

	<div>
		<table class="table">
			<tr ng-repeat="notification in notifications">
				<td>{{notification.newOwner}} bought
					{{notification.playerName}}</td>
				<td><button type="button" class="btn btn-success"
						ng-hide="notification.seen" ng-click="markItRead(notification.id)">Mark
						it read</button></td>

				<td><button type="button" class="btn btn-danger"
						ng-hide="!notification.seen"
						ng-click="markItUnRead(notification.id)">Mark it unread</button></td>
			</tr>
		</table>
	</div>
</div>