<div class="panel panel-info">
	<div class="panel-body form-horizontal" role="form">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">UserName</label>
			<div class="col-xs-3">
				<input type="text" name="userName" ng-model="user.userName"
					class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-xs-3">
				<input type="password" name="password" ng-model="user.password"
					class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-default" ng-click="register()">Register</button>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<a href="#/login">Login</a>
			</div>
		</div>
		
	</div>
</div>