<div class="panel panel-info">
	<user-header ng-if="!admin"></user-header>
	<admin-header ng-if="admin"></admin-header>


	<div>Teams :</div>

	<div>
		<table class="table">
			<tr>
				<th>Team Name</th>
				<th>Team Country</th>
				<th>Team Budget</th>
			</tr>
			<tr ng-repeat="team in allTeams">
				<td>{{team.teamName}}</td>
				<td><select ng-model="team.country"
					ng-options="key as value for (key , value) in countries" disabled></select></td>
				<td>{{team.teamBudget}}</td>
				<td><a href="#/editTeam/{{team.id}}">Edit Team</a></td>
			</tr>
		</table>
	</div>
</div>